=content_for :page_title_prefix, t("page_title.fund.index")

= link_to t("generic.link.back"), dashboard_path, class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.fund.index")

      %p
        = t("page_content.funds.cta.html", organisations_link: link_to(t('page_content.funds.organisation'), organisations_path))
      - if @funds
        %ul
          - @funds.each do |fund|
            %li
              = link_to fund.name, fund_path(fund.id)
