=content_for :page_title_prefix, t("page_title.actual.new")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.actual.new")

      = form_with model: @actual, url: activity_actuals_path(@activity) do |f|
        = render partial: "form", locals: { f: f, organisations: @organisations }
