=content_for :page_title_prefix, t("page_title.budget.new")

= link_to t("generic.link.back"), fund_programme_path(@programme.fund, @programme), class: "govuk-back-link"

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.budget.new")

      = render "form"
