= render layout: "wrapper" do |f|
  = f.input :aid_type,
            wrapper: "select",
            collection: yaml_to_options("activity", "aid_type"),
            hint: t("form.activity.aid_type.hint.html")
