= render layout: "wrapper" do |f|
  %h1.govuk-heading-xl= t("form.activity.step.page_title.sector")

  = f.govuk_collection_select :sector, yaml_to_objects(entity: "activity", type: "sector"), :code, :name, label: { size: 'm' }
