= render layout: "wrapper" do |f|
  = f.govuk_error_summary
  = f.hidden_field :sector, value: nil
  = f.govuk_collection_radio_buttons :sector,
    sector_radio_options(category: @activity.sector_category),
    :code,
    :name,
    legend: { tag: "h1", size: "xl", text: t("page_title.activity_form.show.sector", sector_category: @activity.sector_category_name, level: f.object.level) }
