= render layout: "wrapper" do |f|
  = f.input :status,
            wrapper: "select",
            collection: yaml_to_options("activity", "status"),
            hint: t("form.activity.status.hint.html")
