=content_for :page_title_prefix, @page_title

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      = form_for @activity, url: wizard_path do |f|
        = yield f

        = f.govuk_submit t("form.button.activity.submit")
