= render layout: "wrapper" do |f|
  = f.govuk_collection_radio_buttons :collaboration_type, collaboration_type_radio_options, :code, :name, legend: { tag: 'h1', size: 'xl', text: t("form.label.activity.collaboration_type") }
