= render layout: "wrapper" do |f|
  = f.hidden_field :fund_pillar
  = f.govuk_collection_radio_buttons :fund_pillar, fund_pillar_radio_options, :code, :description, legend: { tag: 'h1', size: 'xl', text: t("form.legend.activity.fund_pillar") }, hint: { text: t("form.hint.activity.fund_pillar") }
