= render layout: "wrapper" do |f|
  = f.govuk_collection_check_boxes :ispf_themes,
    ispf_themes_options,
    :code,
    :description,
    legend: { tag: 'h1', size: 'xl', text: t("form.legend.activity.ispf_themes") }
