= render layout: "wrapper" do |f|
  = f.govuk_collection_radio_buttons :ispf_theme,
    ispf_theme_options,
    :code,
    :description,
    legend: { tag: 'h1', size: 'xl', text: t("form.legend.activity.ispf_theme") }
