= render layout: "wrapper" do |f|
  = f.govuk_collection_select :linked_activity_id,
    @options,
    :id,
    :linkable_activity_select_label,
    options: { selected: f.object.linked_activity_id || @options.first.id },
    label: { text: @page_title, size: "xl", tag: "h1" },
    hint: { text: t("form.hint.activity.linked_activity_guidance") }
