= render layout: "wrapper" do |f|
  = f.hidden_field :oda_eligibility, value: nil
  = f.govuk_collection_radio_buttons :oda_eligibility,
    oda_eligibility_radio_options,
    :value,
    :label,
    :description,
    legend: { tag: 'h1', size: 'xl', text: t("form.legend.activity.oda_eligibility") }
