= render layout: "wrapper" do |f|
  = f.govuk_collection_radio_buttons :programme_status,
    programme_status_radio_options,
    :value,
    :label,
    :description,
    legend: { tag: 'h1', size: 'xl', text: @page_title }
