# Dotenv
#
# This file commits safe environment variables for the development environment.
# For managing sensitive values and overrides use `/.env.development.local`
#
# Reference: https://github.com/bkeepers/dotenv#what-other-env-files-can-i-use

DOMAIN=localhost:3000

# Rollbar for application monitoring
ROLLBAR_ACCESS_TOKEN=ROLLBAR_ACCESS_TOKEN
ROLLBAR_ENV=development

DATABASE_URL=postgres://postgres@localhost:5432/roda-development
REDIS_URL=redis://localhost:6379

SECRET_KEY_BASE=secret

# GOV.UK Notify for sending communications
NOTIFY_KEY=
NOTIFY_WELCOME_EMAIL_TEMPLATE=b1282182-887e-4c8a-8a39-649c9215cd41
NOTIFY_VIEW_TEMPLATE=b541df04-add8-458e-a7d3-2e156386e150
NOTIFY_OTP_VERIFICATION_TEMPLATE=1a832f2e-b13b-47f0-b32a-9cd6672364d2
