#----------------------------------------------------------------------------
# Ignore these files when committing to a git repository.
#
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# The original version of this file is found here:
# https://github.com/RailsApps/rails-composer/blob/master/files/gitignore.txt
#
# Corrections? Improvements? Create a GitHub issue:
# http://github.com/RailsApps/rails-composer/issues
#----------------------------------------------------------------------------

## Sensitive files
#
# To override these ignored files on a case-by-case basis,
# instead of adding a rule to this file, force add them:
#
# ```
# git add path/to/file --force
# ```
#
# This reduces the risk of accidentally committing files that happen to match
# the ignore pattern exception, or a file being removed and readded
# unintentionally in the future.
#
.env
.env.*
*.bks*
*.csv*
*.crt*
*.db*
*.dex*
*.dump*
*.key*
*.numbers*
*.ods*
*.ots*
*.pem*
*.sql*
*.sqlite3*
*.tfstate*
*.tfvars*
*.tsv*
*.xlr*
*.xls*
*.xml*

# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# minimal Rails specific artifacts
/log/*
/tmp/*

# add /config/database.yml if it contains passwords
# /config/database.yml

# various artifacts
**.war
*.rbc
*.sassc
.redcar/
.sass-cache
/config/config.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/spec/examples.txt
/cache
/capybara*
/capybara-*.html
/gems
/specifications
rerun.txt
pickle-email-*.html
.zeus.sock

# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile ~/.gitignore_global
#
# Here are some files you may want to ignore globally:

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Environment files that may contain sensitive data
.powenv

# tilde files are usually backup files from a text editor
*~

!.env.example
!.env.test

# node_modules
/node_modules

docker-compose.env
terraform/.terraform/*

# debug
.byebug_history
