version: "3.7"
services:
  test:
    build:
      cache_from:
        - beis-report-official-development-assistance_test:latest
      context: .
      target: test
      args:
        RAILS_ENV: test
    depends_on:
      - db
    environment:
      DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL: "true"
      DATABASE_URL: postgres://postgres:password@db:5432/roda_test
    env_file:
      - .env.test
  db:
    image: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
volumes:
  db-data:
