= content_for :page_title_prefix, t("page_title.report.request_changes.complete", report_organisation: @report.organisation.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          = t("action.report.request_changes.complete.title", report_financial_quarter: @report_presenter.financial_quarter_and_year, report_organisation: @report.organisation.name)

      %h2.govuk-heading-m
        What happens next

      %p.govuk-body
        The report is now Awaiting Changes from Partner Organisation users. This means they can add or amend data in the existing report.

      %p.govuk-body
        If you have comments for the Partner Organisation to address, you must send these in the RODA Query Log template referencing the Activity RODA ID's and url links to the specific activities.

      %p.govuk-body
        This report will have to be re-submitted by Partner Organisation users before it can be approved.
