=content_for :page_title_prefix, t("page_title.submission.show", submission_name: @submission.description)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = @submission.description

  - if policy(@submission).download?
    .govuk-grid-row
      .govuk-grid-column-full.download-csv
        %div.govuk-body
          = t("page_content.submissions.download_as_csv")
        = link_to t("default.button.download_as_csv"), submission_path(@submission, format: :csv), class: "govuk-button"

