=content_for :page_title_prefix, t("document_title.activity.edit", name: @activity.title)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      = form_for @activity, url: activity_redaction_path(@activity) do |f|

        = f.govuk_collection_radio_buttons :publish_to_iati,
          [OpenStruct.new(id: true, name: t("summary.label.activity.publish_to_iati.true")),
            OpenStruct.new(id: false, name: t("summary.label.activity.publish_to_iati.false"))],
          :id,
          :name,
          legend: { text: t("form.label.activity.publish_to_iati") }

        = f.govuk_submit t("form.button.activity.submit")
