=content_for :page_title_prefix, t("page_title.budget.edit")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.budget.edit")

      = form_with model: @budget, url: activity_budget_path(@activity) do |f|
        = render partial: "form", locals: { f: f }
