=content_for :page_title_prefix, t("page_title.organisation.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.organisation.index")

      - if @organisations
        = render partial: "organisations/table", locals: { organisations: @organisations }
