=content_for :page_title_prefix, t("page_title.organisation.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.organisation.index")

  - if current_user.service_owner?
    = render partial: "service_owner_tabs"
  - elsif current_user.partner_organisation?
    = render partial: "partner_org_tabs"
