%table.govuk-table#no-reports
  %caption.govuk-table__caption.govuk-visually-hidden
    = t("page_content.reports.title")
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell= t("table.body.report.no_reports")
