.govuk-body.upload-form{class: "upload-form--#{type.to_s.dasherize}"}
  = form_with model: instance, url: send(path_helper, instance, type: type) do |f|
    = activity_csv_upload_file_field(builder: f, recovered_from_error: local_assigns[:recovered_from_error], path_helper: path_helper, instance: instance, type: type).html_safe

    = f.govuk_submit t("action.activity.upload.button")
