=content_for :page_title_prefix, t("page_title.users.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.users.index")

  .govuk-grid-row
    .govuk-grid-column-full
      - if policy(User).new?
        = link_to t("page_content.users.button.create"), new_user_path, class: "govuk-button"
      = render partial: '/staff/shared/users/table', locals: { users: @users }
