= f.govuk_error_summary

= f.hidden_field :destination_id, value: destination_activity.id
= f.govuk_text_field :source_roda_identifier, label: { size: 'm' }, value: source_roda_identifier

= render partial: "shared/transfers/form", locals: { f: f }
