- unless forecasts.empty?
  %table.govuk-table.forecasts
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          =t("table.header.forecast.financial_quarter")
        %th.govuk-table__header
          =t("table.header.forecast.value")
        %th.govuk-table__header

    %tbody.govuk-table__body
      - forecasts.each do |forecast|
        %tr.govuk-table__row{id: forecast.id}
          %td.govuk-table__cell= forecast.financial_quarter_and_year
          %td.govuk-table__cell= forecast.value
          %td.govuk-table__cell
            - if policy(forecast).edit?
              = a11y_action_link(t('default.link.edit'),
                edit_activity_forecasts_path(forecast.parent_activity, forecast.financial_year, forecast.financial_quarter),
                t("table.body.forecast.edit_noun"))
