%nav
  %ul{id: 'navigation', class: 'govuk-header__navigation', aria: { label: "Top Level Navigation"}}
    -if current_user

      %li{ class: navigation_item_class(organisation_path(current_user.organisation)) }
        %a{ href: organisation_path(current_user.organisation), class: 'govuk-header__link' }
          = t("page_title.home")

      %li{ class: navigation_item_class(activities_path(organisation_id: current_user.organisation_id)) }
        = link_to t("page_title.activity.index"), activities_path(organisation_id: current_user.organisation_id), class: "govuk-header__link"

      - if authenticated?
        %li{ class: navigation_item_class(users_path) }
          %a{ href: sign_out_path, class: 'govuk-header__link' }
            = t("header.link.sign_out")
    - else
      %li{ class: navigation_item_class(users_path) }
        .govuk-header__content.app-header__user-links.app-visitor
          %a.govuk-header__link{ data: { method: "post" }, href: "/auth/auth0" }
            = t('header.link.sign_in')
