/ Google Tag Manager (noscript)
%noscript
  %iframe{ src: "https://www.googletagmanager.com/ns.html?id=#{ENV['GOOGLE_TAG_MANAGER_CONTAINER_ID']}&gtm_auth=WFaE7VA_eDqF1f6IxzLbBA&gtm_preview=env-6&gtm_cookies_win=x", height: "0", width: "0", style: "display:none;visibility:hidden" }
/ End Google Tag Manager (noscript)
