- if ENV['GOOGLE_TAG_MANAGER_ENVIRONMENT_AUTH'].present?
  / Google Tag Manager
  %script{type: "text/plain", "data-cookieconsent": "statistics"}
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=#{ENV['GOOGLE_TAG_MANAGER_ENVIRONMENT_AUTH']}&gtm_preview=#{ENV['GOOGLE_TAG_MANAGER_ENVIRONMENT_PREVIEW']}&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','#{ENV['GOOGLE_TAG_MANAGER_CONTAINER_ID']}');
  / End Google Tag Manager
