.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h2.govuk-heading-m
      Help and support
    %p.govuk-body
      If you have any questions or have any problems, please contact the RODA support team

    %p.govuk-body
      = mail_to "support@beisodahelp.zendesk.com", "support@beisodahelp.zendesk.com", class: "govuk-link"
