%nav
  %ul{class: 'govuk-header__navigation', aria: { label: "Top Level Navigation"}}
    -if defined?(current_user) && current_user
      %li.govuk-header__navigation-item
        %a{ href: sign_out_path, class: 'govuk-header__link' }
          = t("generic.link.sign_out")
