.govuk-warning-text
  %span.govuk-warning-text__icon{ "aria-hidden" => "true" }
    = "!"
  %strong.govuk-warning-text__text
    %span.govuk-warning-text__assistive
      = t("default.warning")
    = warning_text
