.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      = t("page_content.activity.budgets")

    - if policy(activity).create?
      = link_to(t("page_content.budgets.button.create"), new_activity_budget_path(activity), class: "govuk-button")
    = render partial: '/staff/shared/budgets/table', locals: { budgets: budget_presenters }
