.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      = t("page_content.activity.planned_disbursements")
    - if policy(activity).create?
      = link_to(I18n.t("page_content.planned_disbursements.button.create"), new_activity_planned_disbursement_path(activity), class: "govuk-button")
