.govuk-grid-row
  .govuk-grid-full-width-column
    %h2.govuk-heading-m
      = t("page_content.organisation.programmes")
    = form_tag(organisation_fund_programmes_path(current_user.organisation, activity), method: "post") do
      = submit_tag t("page_content.organisation.button.create_programme"), class: "govuk-button"

    = render partial: "staff/shared/programmes/table", locals: { programmes: activities }
