.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      = t("page_content.activity.actuals")
    - if policy(activity).edit?
      = link_to(t("page_content.actuals.button.create"), new_activity_actual_path(activity), class: "govuk-button")
    = render partial: '/staff/shared/transactions/table', locals: { actuals: transaction_presenters }
