%planned-disbursement{"type" => forecast.forecast_type}
  %period-start{"iso-date" => forecast.period_start_date}
  - if forecast.period_end_date.present?
    %period-end{"iso-date" => forecast.period_end_date}
  %value{"currency" => forecast.currency, "value-date" => forecast.period_start_date}= forecast.value
  %provider-org{"provider-activity-id" => "", "type" => forecast.providing_organisation_type, "ref" => forecast.providing_organisation_reference}
    %narrative=forecast.providing_organisation_name
