.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      = t("page_content.activity.adjustments")

    - if policy(activity).create_adjustment?
      = link_to(t("page_content.adjustment.button.create"), new_activity_adjustment_path(activity), class: "govuk-button")
    = render partial: '/shared/adjustments/table', locals: { adjustments: adjustment_presenters }
