.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      = t("page_content.activity.forecasts")
    - if policy(activity).edit?
      = link_to(t("page_content.forecasts.button.create"), new_activity_forecast_path(activity), class: "govuk-button")
    = render partial: '/shared/forecasts/table', locals: { forecasts: forecasts }
