.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      = t("page_content.organisation.programmes")
    = render partial: "shared/programmes/table", locals: { programmes: activities }
