- unless activities.empty?
  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          Activities

        %ul.govuk-tabs__list{role: "tablist"}
          %li.govuk-tabs__list-item.govuk-tabs__list-item--selected{role: "presentation"}
            = link_to t("tabs.activities.current"),
              organisation_activities_path(@organisation),
              { class: "govuk-tabs__tab", role: "tab", aria: { selected: true } }

          %li.govuk-tabs__list-item{role: "presentation"}
            = link_to t("tabs.activities.historic"),
              historic_organisation_activities_path(@organisation),
              { class: "govuk-tabs__tab", role: "tab", aria: { selected: false } }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_title.activities.current")

          = render partial: "staff/shared/activities/tree_view/table", locals: { activities: activities }
