.govuk-grid-row
  .govuk-grid-column-full
    %h2.govuk-heading-m
      = t("page_content.activity.third_party_projects")
    - if policy(activity).create_child?
      = button_to t("action.activity.add_child"),
          organisation_activity_children_path(activity.extending_organisation, activity),
          class: "govuk-button"

    = render partial: '/shared/third_party_projects/table', locals: { third_party_projects: activities }
