%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.upload")

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p.govuk-body.govuk-heading-m
        = link_to t("action.activity.download.button"), report_activity_upload_path(@report_presenter, format: :csv), class: "govuk-link"

  = render partial: "upload_form"
