=content_for :page_title_prefix, t("page_title.organisation.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.organisation.index")

      - if policy(Organisation).new?
        = link_to(t("page_content.organisations.button.create"), new_organisation_path, class: "govuk-button")

      - if @organisations
        = render partial: "staff/organisations/table", locals: { organisations: @organisations }
