%table.govuk-table.users
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        Name
      %th.govuk-table__header
        Email address
      %th.govuk-table__header

  %tbody.govuk-table__body
    - users.each do |user|
      %tr.govuk-table__row
        %td.govuk-table__cell= user.name
        %td.govuk-table__cell= user.email
        %td.govuk-table__cell
          = link_to(I18n.t('generic.link.show'), user_path(user), class: 'govuk-link')
          = link_to(I18n.t('generic.link.edit'), edit_user_path(user), class: 'govuk-link')
