=content_for :page_title_prefix, t("page_title.transaction.edit")

= link_to t("generic.link.back"), organisation_fund_path(@fund.organisation, @fund), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.transaction.edit")

      = form_with model: @transaction, url: fund_transaction_path(@fund) do |f|
        = render partial: "form", locals: { f: f }
