=content_for :page_title_prefix, t("page_title.transaction.new")

= link_to t("generic.link.back"), organisation_fund_path(@hierarchy.id, organisation_id: @hierarchy.organisation.id), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.transaction.new")

      = form_with model: @transaction, url: create_transaction_path_for(hierarchy: @hierarchy) do |f|
        = render partial: "form", locals: { f: f, organisations: @organisations }
