.level-d {
  padding-left: 2em;
}

table .totals td {
  font-weight: bold;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.buttons-inset {
  padding-left: 4em;
  padding-bottom: 2em;
  border-left: 6px solid gray;
  height: 100px;
}
