table.govuk-table {
  @include govuk-media-query($until: tablet) {
    display: block;
  }
  overflow-x: scroll;
}

.govuk-template {
  overflow-x:hidden;
}

td.error-text {
  word-break: break-all;
}
