=content_for :page_title_prefix, t("page_title.actual.edit")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.actual.edit")

      = form_with model: @actual, url: activity_actual_path(@activity) do |f|
        = render partial: "form", locals: { f: f, organisations: @organisations }

        = link_to t("default.button.delete"), activity_actual_path(@activity, @actual), method: "delete" , class: "govuk-button govuk-button--warning", "data-module": "govuk-button", role: "button", data: { confirm: "Are you sure you want to delete this actual spend?" }
