- unless projects.empty?
  %table.govuk-table.transactions
    %thead.govuk-table__head
      %tr.govuk-table__row
        %th.govuk-table__header
          =t("activerecord.attributes.activity.title")

    %tbody.govuk-table__body
      - projects.each do |project|
        %tr.govuk-table__row{id: project.id}
          %td.govuk-table__cell= link_to project.title, organisation_activity_path(project.organisation, project), class: "govuk-link govuk-link--no-visited-state"
