%dl.govuk-summary-list.govuk-summary-list
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      = t("form.label.report.deadline")
    %dd.govuk-summary-list__value
      = report.deadline
  .govuk-summary-list__row
    %dt.govuk-summary-list__key
      = t("form.label.report.state")
    %dd.govuk-summary-list__value
      = report.state
