%li{class: "govuk-tabs__list-item #{ "govuk-tabs__list-item--selected" if active_tab == name }"}
  = link_to t("tabs.report.#{name}"),
    path,
    { class: "govuk-tabs__tab", aria: { current: (active_tab == name ? "page" : nil) } }
