=content_for :page_title_prefix, t("page_title.report.edit")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.report.edit")

      = form_with model: @report do |f|
        = render partial: "form", locals: { f: f, report_presenter: @report_presenter }
