=content_for :page_title_prefix, t("page_title.report.forecasts",report_description: @report_presenter.description, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }

  = render "staff/reports/meta"

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          Contents

        = render partial: "staff/reports/tab_list", locals: { active_tab: "forecasts" }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("page_content.tab_content.forecasts.heading")

          - if policy(@report_presenter).upload?
            = link_to t("action.forecast.upload.link"), new_report_forecast_upload_path(@report_presenter), class: "govuk-button govuk-button--secondary govuk-!-margin-left-4"

