=content_for :page_title_prefix, t("page_title.report.variance",report_description: @report_presenter.description, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }

  = render "staff/reports/meta"

  .govuk-grid-row
    .govuk-grid-column-full
      .govuk-tabs
        %h2.govuk-tabs__title
          Contents

        = render partial: "staff/reports/tab_list", locals: { active_tab: "variance" }

        .govuk-tabs__panel
          %h2.govuk-heading-l
            = t("tabs.report.variance")

          %p.govuk-body
            This tab shows the variance between forecasted and actual spend in this reporting cycle.

          = render partial: "staff/shared/reports/table_variance", locals: { activities: @activities, readonly: false }
