%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      = render partial: "staff/searches/form"

      = render partial: "delivery_partner_organisations_table", locals: { partner_organisations: @partner_organisations }
