=content_for :page_title_prefix, t("page_title.activity.index")

%p
  = link_to t("generic.link.back"), dashboard_path, class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = t("page_title.activity.index")

      %p
        = t("page_content.activities.cta.html", funds_link: link_to(t('page_content.activities.fund'), funds_path))
      - if @activities
        %ul
          - @activities.each do |activity|
            %li
              = link_to activity.identifier, activity_path(activity.id)