= content_for :page_title_prefix, t("document_title.activity.index")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-full
      %h1.govuk-heading-xl
        = t("page_title.activity.index")

  - if current_user.service_owner?
    = render partial: "staff/shared/activities/filter", locals: { organisation_id: @organisation.id }

  .govuk-grid-row.activity-page
    .govuk-grid-column-full
      = render partial: "staff/shared/activities/table", locals: { activities: @grouped_programmes }
