=content_for :page_title_prefix, t("page_title.activity.show", name: @activity_presenter.title)

= link_to t("generic.link.back"), hierarchy_path_for(@activity_presenter), class: "govuk-back-link"
%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        = @activity_presenter.title

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render partial: "staff/shared/activities/activity", locals: { activity_presenter: @activity_presenter }
