 $govuk-font-url-function: 'font-url';
 $govuk-image-url-function: 'image-url';
 $govuk-images-path: "govuk-frontend/dist/govuk/assets/images/";
 $govuk-fonts-path: "govuk-frontend/dist/govuk/assets/fonts/";
 $govuk-page-width: 1100px;

 @import "govuk-frontend/dist/govuk/index";
 @import "accessible-autocomplete.min";
 @import "partials/_address.css.scss";
 @import "partials/_alerts.css.scss";
 @import "partials/_autocomplete.scss";
 @import "partials/_breadcrumbs.css.scss";
 @import "partials/_definition_list.scss";
 @import "partials/_forms.css.scss";
 @import "partials/_historical_events.css.scss";
 @import "partials/_overrides.css.scss";
 @import "partials/_page_actions.css.scss";
 @import "partials/_reports.scss";
 @import "partials/_table_tree_view.scss";
 @import "partials/_table.scss";
 @import "partials/_tag.scss";
 