= content_for :page_title_prefix, t("page_title.report.in_review.complete", report_organisation: @report.organisation.name, report_financial_quarter: @report_presenter.financial_quarter_and_year)

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          = t("action.report.in_review.complete.title", report_financial_quarter: @report_presenter.financial_quarter_and_year, report_organisation: @report.organisation.name)

      %h2.govuk-heading-m
        What happens next

      %p.govuk-body
        The report is now in review with BEIS.
        %br
        Partner Organisation users are unable to edit the report whilst it is in review with BEIS. A copy of the CSV export should be downloaded and stored on Sharepoint, and the relevant BEIS users should be informed that the data is ready for BEIS Assurance.

      %p.govuk-body
        All reviewers must complete their review and add comments to the Query Log before the specified deadline. If there are any queries with this report following the BEIS review, they will need to be collated in a RODA Query document and sent to Partner Organisation users for direct amendment in RODA.

      %p.govuk-body
        RODA status will have to be updated to 'awaiting changes' to enable Partner Organisation users to have access to edit the data.
