%table.govuk-table
  %caption.govuk-table__caption List of errors in your uploaded CSV file
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header{scope: "col"} Column
      %th.govuk-table__header{scope: "col"} Row
      %th.govuk-table__header{scope: "col"} Current Value
      %th.govuk-table__header{scope: "col"} Error description
  %tbody.govuk-table__body
    - @errors.each do |error|
      %tr.govuk-table__row
        %td.govuk-table__cell= error.column
        %td.govuk-table__cell= error.csv_row
        %td{class: "govuk-table__cell govuk-!-font-weight-bold error-text"}= error.value
        %td.govuk-table__cell= error.message
