.govuk-grid-row
  .govuk-grid-column-two-thirds
    = form_for @report_presenter, url: report_planned_disbursement_upload_path(@report_presenter) do |f|

      = f.govuk_file_field :planned_disbursement_csv,
        label: { text: t("form.label.planned_disbursement.csv_file") },
        hint: { text: t("form.hint.planned_disbursement.csv_file") }

      = f.govuk_submit t("action.planned_disbursement.upload.button")
