- if grouped_reports.empty?
  = render partial: "shared/reports/table_empty", locals: { type: type }
- else
  %table.govuk-table
    = render partial: "shared/reports/table_header", locals: { type: type }

    %tbody.govuk-table__body
      - grouped_reports.each do |organisation, reports|
        - reports.each_with_index do |report, index|
          = render partial: "shared/reports/table_row", locals: { report: report, reports: reports, index: index, type: type }
