%table.govuk-table#no-reports
  %caption.govuk-table__caption.govuk-visually-hidden
    = t("page_content.reports.title")
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %td.govuk-table__cell
        .govuk-grid-row
          .govuk-grid-column-two-thirds
            = t("table.body.report.no_#{type}_reports")
