%transaction
  %transaction-type{"code" => 2}
  %transaction-date{"iso-date" => commitment.first_day_of_financial_period}
  %value{"value-date" => commitment.first_day_of_financial_period}=commitment.value
