%planned-disbursement{"type" => planned_disbursement.planned_disbursement_type}
  %period-start{"iso-date" => planned_disbursement.period_start_date}
  - if planned_disbursement.period_end_date.present?
    %period-end{"iso-date" => planned_disbursement.period_end_date}
  %value{"currency" => planned_disbursement.currency, "value-date" => planned_disbursement.period_start_date}= planned_disbursement.value
  %provider-org{"provider-activity-id" => "", "type" => planned_disbursement.providing_organisation_type, "ref" => planned_disbursement.providing_organisation_reference}
    %narrative=planned_disbursement.providing_organisation_name
  - if planned_disbursement.unknown_receiving_organisation_type?
    %receiver-org
  - else
    %receiver-org{"receiver-activity-id" => "", "type" => planned_disbursement.receiving_organisation_type, "ref" => planned_disbursement.receiving_organisation_reference}
      %narrative=planned_disbursement.receiving_organisation_name
