%transaction{"ref" => transaction.reference}
  %transaction-type{"code" => transaction.transaction_type}
  %transaction-date{"iso-date" => transaction.date}
  %value{"currency" => transaction.currency, "value-date" => transaction.date}=transaction.value
  %description
    %narrative=transaction.description
  %provider-org{"provider-activity-id" => "", "type" => transaction.provider.organisation_type, "ref" => ""}
    %narrative=transaction.provider.name
  %receiver-org{"receiver-activity-id" => "", "type" => transaction.receiver.organisation_type, "ref" => ""}
    %narrative=transaction.receiver.name
  %disbursement-channel{"code" => transaction.disbursement_channel}