=content_for :page_title_prefix, t("document_title.export.export_in_progress")

%main.govuk-main-wrapper#main-content{ role: "main" }
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        Your export is being prepared
      %p.govuk-body
        = @message
