-# Rails flash messages styled for Bootstrap 4.0 TODO restyle for gov.uk
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", :role  => "alert"}
      = content_tag :p, msg, :id => "flash_#{name}", :class => ["alert-message"]
